body {
    background-color: #FFEFEF;
    min-height: 100%;
}

.justify-content-center {
    background-color: #FFD8D8;
}
.navigation {
    background-color: #FFD8D8;
  }

#basic-nav-dropdown {
    background-color: #FFD8D8;
}

.landing-hero {
    font-family: 'Barrio', cursive;
    font-size: 165px;
}

h5 {
    font-size: 32px;
}

.alayne-image {
    max-height: 928px;
    max-width: 350px;
}

.pink-button {
    background-color: #FFD8D8;
    font-size: 16px;
    color: black;
    border-radius: 0%;
    border-style: none;
    border-color: #FFD8D8;
    margin: 1rem;

}